.main-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    color: grey;
    background-color: rgb(35, 35, 35);
}